<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الرئيسية</title>
    <link rel="stylesheet" href="css/home-dist.css">
</head>
<body dir="rtl">
    
   <div class="home">
        <div class="container">
            <div class="app">
                <div class="logo">
                    <img src="../../img/logo.jpg" alt="logo">
                    <h3>بيوتي سنتر <span class="engy">إنجـي</span></h3>
                  </div>
                  
                <div class="app-home">
                    <div class="invo">
                        <a href="../reservetion/reservation.html" class="btn-link-home"><img src="../../img/reserve.jpg" alt=""></a>
                        <a href="../reservetion/reservation.html" class="btn-link-home">الحجوزات</a>
                    </div>
                    
                    <div class="invo">
                        <a href="../all-product/items.html" class="btn-link-home"><img src="../../img/dress.jpg" alt=""></a>
                        <a href="../all-product/items.html" class="btn-link-home"> الاصناف</a>
                    </div>
                        
                    
                    <div class="invo">
                        <a href="../accountClients/index.html" class="btn-link-home" ><img src="../../img/accounts.jpg" alt=""></a>
                        <a href="../accountClients/index.html" class="btn-link-home">الحسابات</a>
                    </div>
                    <div class="invo">
                        <a  class="btn-link-home btnResgister" id="btnResgister" ><img src="../../img/client.jpg" alt=""></a>
                        <a class="btn-link-home" >المستخدمين</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="divAlarm">
            <div class="alarm">
                <div class="inputs">
                    <input type="password" id="passCheck" placeholder="ادخل الباسوورد من فضلك">
                    <div class="buttons">
                        <button id="btnCheck" onclick="checkPass();">موافق</button>
                        <button id="btnCancel" onclick="exitePass();">الغاء</button>
                    </div>
                </div>
            </div>
        </div>
        
   </div> 
   <script src="./js/home-dist.js">
        
   </script>
</body>
</html>